<%-include  ('./partials/header')%>

<h1>Log In</h1>
<form method='POST' action='/login'>
	<input type='text' placeholder='username' name='username'>
	<input type='password' placeholder='password' name ='password'>
	<button>
		Login
	</button>
</form>
<%-include  ('./partials/footer')%>
