<%-include  ('./partials/header')%>
<h1>
	Sign Up 
</h1>
<form method='POST' action='/register'>
	<input type='text' placeholder='username' name='username'>
	<input type='password' placeholder='password' name='password'>
	<button>
		Submit
	</button>
</form>
<%-include  ('./partials/footer')%>
